<div class="row">
    <div class="section-title text-center">
        <h3>生活足迹</h3>
        <p>记录生活的一些重要事件，方便我们查看</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <form name="form" role="form" novalidate>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>日期</label>
                                    <mb-datepicker element-id='eventDate'
                                                   arrows="dateConfig.arrows"
                                                   input-class="date-input"
                                                   calendar-header="dateConfig.header"
                                                   date="data.date"
                                                   date-format="YYYY-MM-DD"></mb-datepicker>
                                </md-input-container>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>足迹标题</label>
                                    <input type="text" name="title" ng-model="data.title" required>
                                    <div class="error-text text-danger" ng-if="form.$submitted || form.title.$touched"><span ng-if="form.title.$error.required" ng-bind="error.title"></span></div>
                                </md-input-container>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>备注(可选)</label>
                                    <input type="text" ng-model="data.memo" type="text"/>
                                </md-input-container>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-12">
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-primary" ng-click="create()">保存</button>
                                &nbsp;
                                <a type="submit" class="btn btn-info" href="#query-event">返回</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>