<div class="row">
    <div class="section-title text-center">
        <h3>生活足迹</h3>
        <p>记录生活的一些重要事件，方便我们查看</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <mb-datepicker element-id='start'
                                       arrows="dateConfig.arrows"
                                       input-class="date-input"
                                       input-name="start"
                                       calendar-header="dateConfig.header"
                                       date="data.start"
                                       date-format="YYYY-MM-DD"></mb-datepicker>
                        <mb-datepicker element-id='end'
                                       arrows="dateConfig.arrows"
                                       calendar-header="dateConfig.header"
                                       input-class="date-input"
                                       input-name="end"
                                       date="data.end"
                                       date-format="YYYY-MM-DD"></mb-datepicker>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" ng-model="data.title" placeholder="足迹标题 *">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" ng-click="query()"> 查询足迹 </button>
                            &nbsp;
                            <a type="button" class="btn btn-info" href="#create-event"> 记录足迹 </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-12 table-responsive">
                    <table class="table table-bordered table-striped data-table">
                        <thead>
                            <tr style="background-color: #FF432E; color: #fff;">
                                <th style="width: 400px">标题</th>
                                <th style="width: 200px">日期</th>
                                <th style="width: 1px">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="event in events">
                                <td title="{{event.title}}" ng-click="detail(event)">
                                    <span ng-bind="event.title"></span>
                                </td>
                                <td title="{{event.eventDate | date:'yyyy-MM-dd'}}">
                                    <span ng-bind="(event.eventDate | date:'yyyy-MM-dd')"></span>
                                </td>
                                <td style="text-align: center;">
                                    <button type="button" class="btn btn-info btn-flat btn-xs" ng-click="delete($event, event)"> 删 除 </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>