<div class="row">
    <div class="section-title text-center">
        <h3>财政收支</h3>
        <p>记录每一笔收支，让我更精明</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="text"
                                   class="form-control input-datepicker"
                                   placeholder="记账日期 ..."
                                   datepicker-popup="yyyy-MM"
                                   ng-model="data.month"
                                   is-open="opened"
                                   datepicker-options="dateOptions"
                                   ng-click="open($event)"
                                   close-text="Close"
                                   required readonly="readonly"/>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <select name="type" ng-model="data.type" placeholder="类型 ...">
                                <option value="expense">支出</option>
                                <option value="income">收入</option>
                                <option value="advance">预支付</option>
                                <option value="predict">预计</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" ng-click="query()"> 查询 </button>
                            &nbsp;
                            <a type="button" class="btn btn-info" href="#statistics-finance">统计 </a>
                            &nbsp;
                            <a type="button" class="btn btn-info" href="#create-finance"> 记一笔 </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <span style="color: #FF432E;" ng-bind="'支出：' + (cash.expense | number:2) + ' 元'"/>
                    </div>
                    <div class="col-md-2">
                        <span style="color: #FF432E;" ng-bind="'收入：' + (cash.income | number:2) + ' 元'"/>
                    </div>
                    <div class="col-md-3">
                        <span style="color: #FF432E;" ng-bind="'余额：' + (getBalance() | number:2) + ' 元'"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <span style="color: #FF432E;" ng-bind="'预付支出：' + (cash.advance | number:2) + ' 元'"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-12 table-responsive">
                    <table class="table table-bordered table-striped data-table">
                        <thead>
                        <tr style="background-color: #FF432E; color: #fff;">
                            <th style="width: 400px">标题</th>
                            <th style="width: 200px">金额</th>
                            <th style="width: 1px">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="finance in finances">
                                <td title="{{finance.title}}" ng-click="detail(finance)">
                                    <span ng-bind="finance.title"></span>
                                </td>
                                <td title="{{finance.amount}}">
                                    <span ng-bind="(finance.amount | number:2)"></span>
                                </td>
                                <td style="text-align: center;">
                                    <button type="button" class="btn btn-info btn-flat btn-xs" ng-click="delete(finance)"> 删 除 </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>